/**********************
* css for main content 
***********************/

html, body {
    height: 100%;
}
.clientPage {
	font-family: ‘Palatino Linotype’, ‘Book Antiqua’, Palatino, serif;
	color: #000000;
}
#pageContent {
	position: relative;
	margin-bottom: 30px;
	margin-right: 50px;
	margin-left: 50px;
}
#background {
    width: 100%; 
    height: auto; 
    position: fixed; 
    left: 0px; 
    top: 0px; 
    z-index: -1;
}
.stretch {
    width:100%;
    height:auto;
}
.myLogo {
	display: block;
    margin-left: auto;
    margin-right: auto;
}
#mainContent {
	padding-top: 20px;
	text-align: center; 
}
#left {
	text-align: left;
	padding: 20px 30px 20px 30px;
}
#right {
	text-align: left;
	padding: 20px 30px 20px 30px;
}

/***************
* CSS for allmenus 
****************/

.allmenus ul {
    list-style-type: none;
    text-transform: uppercase;
}
.allmenus ul a:link,
.allmenus ul a:visited {
    text-decoration: none;
}
.allmenus a {
	font-weight: bold;
}
.allmenus a{
	color: #568293;
}
.allmenus .active a{
	color: black !important;
}

/********************
* CSS for desktopmenu
*********************/

.desktopmenu  ul li a{
	border:1px solid #D9ECF4;
	background: #B0D3DC;
}
.desktopmenu ul {
    font-size: 1.2em;
}
.desktopmenu li {
    float: left;
}
.desktopmenu ul a:link,
.desktopmenu ul a:visited {
    padding: 5px 15px;
}
.desktopmenu a:hover{
    color: #79ABB8;
	background: #D9ECF4
}

/********************
* CSS for mobilemenu
*********************/

.mobilemenu ul {
    font-size: 0.9em;
}
.mobilemenu {
	margin-left: -30px;
}
.mobilemenu a:hover{
    color: #D9ECF4
}

/***********
* Zapp CSS 
************/
	  
/* Wrapper for page content to push down footer */
#wrap {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	/* Negative indent footer by it's height */
	margin: 0 auto -60px;
	padding-top: 70px;
}
	  
/* Set the fixed height of the footer here */
#push, #footer {
    height: 60px;
}
#footer {
	background-color: #000000;
}

/* top navbar behaviour changes on tablets and phones, so get rid of the no longer needed padding */
/* potrait tablets */
@media (min-width: 768px) and (max-width: 979px) {
	#wrap {
		margin: 0 auto -90px;
		padding-top: 0px;
	}
	#pageContent {
		margin-top: -10px;
	}
	#top #left, #mainContent, #top #right {
		margin-top: -40px;
	}
}

/* phones */
@media (max-width: 767px){
	#wrap {
		margin: 0 auto -70px;
		padding-top: 0px;
	}
	#push, #footer {
		height: 40px;
	}
	#pageContent {
		margin-top: -10px;
	}
	#top #left {
		margin-top: -40px;
	}
}

.nav-collapse .navbar-form, .nav-collapse .navbar-search {
	border-width: 0px !important;
	box-shadow: none !important;
}
.bizview-login {
	color: #E8BC05 !important;
} 
.bizview-login:hover, .bizview-directory:hover {
	color: #ffffff !important;
}