
/* css for Responsive Zapp */

html, body {
    height: 100%;
}
	  
/* Wrapper for page content to push down footer */
#wrap {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	/* Negative indent footer by it's height */
	margin: 0 auto -60px;
	padding-top: 70px;
}
	  
/* Set the fixed height of the footer here */
#push, #footer {
    height: 60px;
}

#footer {
	background-color: #000000;
}

/* top navbar behaviour changes on tablets and phones, so get rid of the no longer needed padding */
/* potrait tablets */
@media (min-width: 768px) and (max-width: 979px) {
	#wrap {
		margin: 0 auto -90px;
		padding-top: 0px;
	}
}

/* phones */
@media (max-width: 767px){
	#wrap {
		margin: 0 auto -70px;
		padding-top: 0px;
	}
	
	#push, #footer {
		height: 40px;
	}
}

.bizview-login {
	color: #E8BC05 !important;
} 
  
#pageContent {
	background: url(../images/red-background.jpg) no-repeat center top;
	background-repeat:repeat-x;
	/*margin-top: -30px;*/
	position: relative;
	margin-bottom: 30px;
}

#menu {
	margin-left: -40px;
}

#menu ul {
    padding: 10px 0 0;
    list-style-type: none;
    /*font-family: Georgia, Times, serif;*/
    text-transform: uppercase;
    font-size: 1.4em;
	/*vertical-align: bottom;*/
}

#menu li {
    float: left;
}

#menu ul a:link,
#menu ul a:visited {
    text-decoration: none;
    font-weight: bold;
    padding: 30px 15px;
    /*vertical-align: bottom;*/
}

#menu ul a:hover {
    color:#e6bc1f;
}

#menu ul a{
	color: black;
}

#menu ul ul li {
  font-size: 0.7em;
  /*float: none;*/
}

#menu ul ul li a{
  color: #ca3d43;
}

#left {
	text-align: justify;
	padding: 30px 30px 30px 30px;
}

#right {
	text-align: justify;
	padding: 30px 30px 30px 30px;
}

#bottom{
	/*background: #ffffff;*/
}

#mainContent {
	padding: 30px 30px 30px 30px;
	text-align: center; 
}

#mainContent h3 {
	text-align: left;
}

/*
.logo {
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
*/


